interface gpon-olt_1/{{ slot }}/{{ port }}
  onu {{ onu_id }} type {{ actual_type }} sn {{ sn_onu }}
!
interface gpon-onu_1/{{ slot }}/{{ port }}:{{ onu_id }}
  name {{ nama_pelanggan }}
  tcont 1 profile {{ profil_paket }}
  gemport 1 tcont 1
  gemport 1 name DATA
!
pon-onu-mng gpon-onu_1/{{ slot }}/{{ port }}:{{ onu_id }}
  service 1 gemport 1 vlan {{ vlan_id }}
  vlan port veip 1 mode hybrid
  vlan port veip 1 def-vlan {{ vlan_id }}
  wan-ip 1 mode pppoe username {{ pppoe_user }} password {{ pppoe_pass }} vlan-profile VLAN_{{ vlan_id }}
!