# Database Neon Cloud Bersama
DATABASE_URL=postgresql://neondb_owner:npg_jWQ90EgkIVvx@ep-orange-forest-azwsdzzt-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Kredensial Perangkat OLT (ZTE)
OLT_C300_TAJUR_TELNET_PASSWORD=
OLT_C300_TAJUR_SNMP_COMMUNITY=
OLT_C320_ANGGRAENI_TELNET_PASSWORD=
OLT_C320_ANGGRAENI_SNMP_COMMUNITY=